html,body,*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
a{
    text-decoration-line: none;
    color:#222
}
.global-div{
    width:100vw;
    height:100vh;
}
.title{
    text-align: center;
}
.nav{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav > a {
    font-size: 2em;
}
.nav > a:hover{
    color:darkcyan;
}